[submodule "dfs"]
	path = services/dfs
    url = https://github.com/razvanmarinn/dfs
    branch = main
[submodule "rcss"]
    path = services/rcss
    url = https://github.com/razvanmarinn/rcss
    branch = main

[submodule "schema-registry"]
    path = services/schema-registry
    url = https://github.com/razvanmarin/schema-registry
    branch = main
