# --- GLOBAL STORAGE (For the Compactor) ---
# This PV/PVC covers the root directory so the compactor can see all workers.
apiVersion: v1
kind: PersistentVolume
metadata:
  name: global-data-pv
spec:
  capacity:
    storage: 15Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: standard
  hostPath:
    path: /datalake/worker_data
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: global-data-pvc
  namespace: datalake
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 15Gi
  volumeName: global-data-pv
  storageClassName: standard

---

# --- WORKER 1 STORAGE ---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: worker1-new-state-pv
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: standard
  hostPath:
    path: /datalake/worker_data/worker1-new-state
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: worker1-state-pvc
  namespace: datalake
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
  volumeName: worker1-new-state-pv
  storageClassName: standard

---

# --- WORKER 2 STORAGE ---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: worker2-new-state-pv
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: standard
  hostPath:
    path: /datalake/worker_data/worker2-new-state
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: worker2-state-pvc
  namespace: datalake
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
  volumeName: worker2-new-state-pv
  storageClassName: standard

---

# --- WORKER 3 STORAGE ---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: worker3-new-state-pv
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: standard
  hostPath:
    path: /datalake/worker_data/worker3-new-state
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: worker3-state-pvc
  namespace: datalake
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
  volumeName: worker3-new-state-pv
  storageClassName: standard