apiVersion: v1
kind: PersistentVolume
metadata:
  name: global-data-pv
spec:
  capacity:
    storage: 15Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: standard
  hostPath:
    path: /datalake/data
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: global-data-pvc
  namespace: datalake
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 15Gi
  volumeName: global-data-pv
  storageClassName: standard

---
apiVersion: v1
kind: Service
metadata:
  name: worker-headless
  namespace: datalake
  labels:
    app: worker
spec:
  ports:
  - port: 50051
    name: grpc
    targetPort: 50051
  - port: 8080
    name: http
    targetPort: 8080
  clusterIP: None # Required for StatefulSets
  selector:
    app: worker

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: worker
  namespace: datalake
spec:
  serviceName: "worker-headless"
  replicas: 3
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
      - name: worker
        image: razvan1y/dfs-worker:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 50051
          name: grpc
        - containerPort: 8080
          name: http
        env:
        - name: GRPC_PORT
          value: ":50051"
        - name: HTTP_PORT
          value: ":8080"
        - name: HOSTNAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        volumeMounts:
        - name: global-storage
          mountPath: /data
          subPathExpr: $(HOSTNAME)
      volumes:
      - name: global-storage
        persistentVolumeClaim:
          claimName: global-data-pvc