apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  namespace: observability
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      containers:
        - name: grafana
          image: grafana/grafana:10.2.2
          ports:
            - containerPort: 3000

          volumeMounts:
            - name: grafana-config
              mountPath: /etc/grafana/grafana.ini
              subPath: grafana.ini

            - name: grafana-datasources
              mountPath: /etc/grafana/provisioning/datasources
              readOnly: true

            - name: grafana-dashboards-provider
              mountPath: /etc/grafana/provisioning/dashboards
              readOnly: true

            - name: grafana-dashboards-json
              mountPath: /var/lib/grafana/dashboards
              readOnly: true

      volumes:
        - name: grafana-config
          configMap:
            name: grafana-config

        - name: grafana-datasources
          projected:
            sources:
              - configMap:
                  name: grafana-datasources
              - configMap:
                  name: grafana-datasource-loki

        - name: grafana-dashboards-provider
          configMap:
            name: grafana-dashboards-config

        - name: grafana-dashboards-json
          projected:
            sources:
              - configMap:
                  name: datalake-dashboard
              - configMap:
                  name: grafana-dashboard-datalake-logs
---
apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: observability
spec:
  type: ClusterIP
  selector:
    app: grafana
  ports:
    - name: http
      port: 3000
      targetPort: 3000
